.DS_Store
.build/
.local/
__pycache__/
Configuration/Maps.local.xcconfig
Configuration/SkiData.local.xcconfig
Configuration/.maps-*
**/xcuserdata/
*.xcuserstate
*.store*
*.sqlite*
app/Resources/*.pmtiles
